@media screen and (max-width: 480px) {

    body {
        font-family: 'Montserrat', sans-serif;
        background: #000;
        font-size: 18px;    
    }
    
    /* HEADER */
    
    .cabecalho {
        display: flex; /* uso de flex box*/
        flex-direction: row; /* menu em linha*/
        align-items: center; /* alinhamento */
        justify-content: left; /* space around*/
        padding: 10px;
    }
    
    .cabecalho-imagem {
        width: 80px;
        height: 80px;
    }
    
    .cabecalho-menu {
        display: flex;
        gap: 50px;
    }
    
    .cabecalho-menu-item {
        color: #EFEBE7;
        font-weight: 400;
        font-size: 12px;
        text-decoration: none;
    }
    
    .cabecalho-menu-item:hover {
        color: #7BA0C0;
        transition: 400ms;
    }
    
    /* MAIN */
    
    /* CONTEUDO PRINCIPAL */
    
    .conteudo {
    border-top: 0.4px solid #EFEBE7;
    padding: 15px ; /* superior - direita - inferior - esquerda */
    }
    
    .conteudo-principal {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        gap: 20px;
    }
    
    .conteudo-principal-escrito {
        display: flex;
        flex-direction: column;
        gap: 3em;
    }
    
    .conteudo-principal-escrito-titulo {
        padding-top: 20px;
        color: #EFEBE7;
        font-weight: 700;
        font-size: 20px;
    }
    
    .conteudo-principal-escrito-subtitulo {
        color: #77ACC7;
        font-weight: 400;
        font-size: 16px;
    }
    
    .conteudo-principal-escrito-botao {
        background-color: #7BA0C0;
        width: 120px;
        height: 40px;
        border: none;
        border-radius: 10px;
        font-size: 9px;
        margin-left: 30px ;
    }

    .conteudo-principal-escrito-subtitulo > strong {
        color: #fff;
    }
    
    .conteudo-principal-escrito-botao:hover {
        background-color: #77ACC7;
        transition: 400ms;
    }
    
    .conteudo-principal-imagem {
        height: 160px;
        padding: 0px 0px 0px 0px;
        border-radius: 20px;
    }
    
    /* CONTEUDO SECUNDÁRIO */
    
    .conteudo-secundario {
        margin-top: 24px;
        color: white;
        font-size: 12px;

    }
    
    .conteudo-secundario-titulo {
        border-top: 0.4px solid #EFEBE7;
        padding-top: 24px;
        padding-bottom: 36px;
        color: #EFEBE7;
        font-size: 16px;
        font-weight: 800;
    }
    
    .conteudo-secundario-paragrafo {
        font-weight: bold;
    }
    
    .conteudo-secundario-paragrafo-proprietaria {
        color: #7BA0C0;
        font-weight: 600;
    }
    
    .conteudo-secundario-citacao {
        font-weight: bold;
        color: #EFEBE7;
        font-size: 13px;
        padding-top: 24px;
        border-top: 0.4px #fff solid;
    }
    
    strong {
        color: #77ACC7;
    }

    /* CONTEUDO TERCIARIO */

    iframe {
        width: 100%;
        height: 200px;
    }
    
    /* FOOTER */
    
    .rodape {
        padding: 32px;
        border-top: 0.4px solid #7BA0C0;
        background: #FFF;      
    }
    
    
    .slogan-rodape {
        padding: 24px;
        font-weight: bold;
    }

    .rodape-assinatura {
        margin-top: 15px;
        width: 90%;
    }


}